baseurl = "/"
title = "Quarkus Basics Training"


enableGitInfo = true


languageCode = "en-us"

contentDir = "content/en"

[minify]
disableSVG = true

# default content language
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

disableKinds = ["taxonomy", "taxonomyTerm"]

# Highlighting config
pygmentsCodeFences = true
pygmentsUseClasses = false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic = false
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle = "tango"

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[Languages]
[Languages.en]
title = "Quarkus Basics Training"
languageName = "German"
weight = 1

# navigation
[Languages.en.menu]

[[Languages.en.menu.main]]
weight = 3
name = "Puzzle ITC GmbH"
url = "https://www.puzzle.ch"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    LineNos = true
  # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
  style = "monokai"
  # Uncomment if you want your chosen highlight style used for code blocks without a specified language
  guessSyntax = "true"

[params]
copyright = "Puzzle ITC GmbH"
github_repo = "https://github.com/puzzle/quarkus-techlab"
github_branch = "master"

lab_code_basedir = "/code/"
solution_code_basedir = "/solution/"

#versions
quarkusVersion = "3.4.2"
mutinyVersion = "2.5.1"
ubiQuarkusNativeImage = "quay.io/quarkus/ubi-quarkus-native-image:22.3-java17"
openJdkImage = "registry.access.redhat.com/ubi8/openjdk-17:1.16"
quarkusMicroImage = "quay.io/quarkus/quarkus-micro-image:2.0"
strimziVersion = "quay.io/strimzi/kafka:0.37.0-kafka-3.5.1"

k8s_user_name = "userXY"
registry_url = "default-route-openshift-image-registry.$CLUSTER_URL"

folder_extension = "appinfo"

enabledModule = "base"

# Enable Lunr.js offline search
offlineSearch = true

[params.ui]
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = false
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = false
#  Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
sidebar_search_disable = false
#  Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top nav bar
navbar_logo = true
# Set to true to disable the About link in the site footer
footer_about_disable = true

# puzzle design
[module]
  [module.hugoVersion]
    extended = true
    min = "0.100.0"
  [[module.imports]]
    path = "github.com/puzzle/docsy-puzzle"
    disable = false
  [[module.imports]]
    path = "github.com/acend/docsy-plus"
    disable = false
  [[module.imports]]
    path = "github.com/google/docsy"
    disable = false
  [[module.imports]]
    path = "github.com/google/docsy/dependencies"
    disable = false

############################## social links ##############################
[params.links]
[[params.links.developer]]
name = "GitHub"
icon = "fab fa-github"
url = "https://github.com/puzzle/quarkus-techlab"

[[params.links.user]]
name = "Twitter"
icon = "fab fa-twitter"
url = "https://twitter.com/puzzleitc"

[[params.links.user]]
name = "LinkedIn"
icon = "fab fa-linkedin-in"
url = "https://www.linkedin.com/company/puzzle-itc/"
