[submodule "code/quarkus-techlab-data-producer"]
	path = code/quarkus-techlab-data-producer
	url = https://github.com/g1raffi/quarkus-techlab-data-producer
	branch = master
[submodule "code/quarkus-techlab-data-consumer"]
	path = code/quarkus-techlab-data-consumer
	url = https://github.com/g1raffi/quarkus-techlab-data-consumer
	branch = master
[submodule "code/quarkus-techlab-infrastructure"]
	path = code/quarkus-techlab-infrastructure
  url = git@github.com:g1raffi/quarkus-techlab-infrastructure.git
  branch = master
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
