version: '2'

services:

  jaeger:
    image: quay.io/jaegertracing/all-in-one:1.24.0
    hostname: jaeger
    container_name: jaeger
    ports:
      - 5775:5775/udp
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 14268:14268
      - 16686:16686